.container  {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-padding: 10vh ;
    height: 100vh;
}

.container section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.container section:nth-child(odd) {
    background-color: antiquewhite;
}

.container section:nth-child(even) {
    background-color: cyan;
}
